{% extends 'base_dashboard.html' %}
{% load static i18n humanize njangi_tags %}

{% block content %}
<div class="form">
    <div class="col-md-6">
        <div class="grid_3 grid_5 widget-shadow">
            <h5 class="hdg">{% trans 'wallet'|title %} {{ action|title }}  |  {% trans 'current balance'|title %} {{ user.balance.available_balance|intcomma }}</h5>
            <div class="well">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-6">
                                <a href="{% url 'njangi:load_or_withdraw' nsp=nsp_.mtn_wallet action=action %}" >
                                    <p><button type="button" class="btn btn-primary " data-toggle="modal" >{% trans 'Continue'|title %} </button></p>
                                </a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}