{% extends 'njangi/checkout/base_signup_contribution.html' %}

{% load static i18n humanize njangi_tags main_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}

<div class="content clearfix">
    <!-- Cards -->
    <div id="cards" class="container mb-2" style="padding-bottom: 1px">
        <div class="section-title col-lg-8 col-md-8 ml-auto mr-auto">
            <h3 class="mb-4" style="color:green" align="left">Thank you {{ user.first_name }}</h3>
            <!-- <p>We wanted cards to stand out and bring depth without changing their original structure. All of this while allowing them to play well with the other components.</p> -->
        </div>

        <div class="example col-md-12 ml-auto mr-auto">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 mb-4 "></div>
                <div class="col-lg-8 col-md-8 col-sm-12 mb-4 ">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="color:blue" align="right"> {{ user.username }}| <a href="{% url 'main:logout' %}">{% trans 'logout' %}</a></h5>
                            <p class="card-text">
                                {% trans 'All you have to do is approve the mobile money request on your phone.' %}<br>
                                {% trans "After your approval, we will take about 40 seconds to process your contribution."%}
                            </p>
                            <p class="card-text" style="color:">
                                <i>{% trans "NB: A non-approved request will be considered cancelled after 5 minutes and any new request will cancel the previous." %}</i><br>
                            </p>
                            <p>
                                {% if message %}
                                    <span style="color:green">{{ message }}</span>
                                {% endif %}
                            </p>

                            <hr>
                            <form action="{% url 'njangi:signup_contribution_done' %}" method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="{% trans 'I Have Approved' %}">
                                <a href="{% url 'njangi:signup_contribution_required' %}" class="btn btn-primary">{% trans "Start All Over" %}</a>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 mb-4 "></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}