{% extends 'base_dashboard.html' %}
{% load static i18n humanize njangi_tags %}

{% block content %}
<!--<div class="row-one">-->
<div class="forms">
    <div class="form-grids row widget-shadow" data-example-id="basic-forms">
        <div class="form-title">
            <h4>{% trans 'network promotion tools & statistics'|title %}</h4>
        </div>
        <div class="form-body col-md-6">
            <form>
                <div class="form-group">
                    <label for="referral_link">{% trans 'my promotion link'|title %}</label> | <span style="color:rgb(0,255,0)">{{ user_node.get_descendant_count }} {% trans 'network members'|title  %}</span>
                    <input type="url" class="form-control" id="referral_link" value="{{ protocol }}{{ site_info.website }}/signup/?rid={{ user.sponsor_id }}">
                    <p class="help-block">{% trans 'Share this link to your loved ones so they can signup under your network. (Left or Right. Automatically placed by the system)' %}</p>
                </div>
                {% if user_node.has_left_downline %}
                <div class="form-group">
                    <label for="referral_link">{% trans 'left promotion link'|title %} | <span style="color:rgb(0,255,0)">{{ user_node.get_left_downline_count }} {% trans 'left network members'|title  %}</span></label>
                    <input type="url" class="form-control" id="left_referral_link" value="{{ protocol }}{{ site_info.website }}/signup/?rid={{ user_node.get_left_downline.user.sponsor_id }}">
                    <p class="help-block">{% trans 'Share this link to your loved ones so they can signup under your left network.' %}</p>
                </div>
                {% endif %}
                {% if user_node.has_right_downline %}
                <div class="form-group">
                    <label for="referral_link">{% trans 'right promotion link'|title %} | <span style="color:rgb(0,255,0)">{{ user_node.get_right_downline_count }} {% trans 'right network members'|title  %}</span></label>
                    <input type="url" class="form-control" id="right_referral_link" value="{{ protocol }}{{ site_info.website }}/signup/?rid={{ user_node.get_right_downline.user.sponsor_id }}">
                    <p class="help-block">{% trans 'Share this link to your loved ones so they can signup under your right network.' %}</p>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<!--</div>-->
{% endblock %}