{% extends 'base_dashboard.html' %}
{% load static i18n humanize njangi_tags main_tags %}

{% block content %}

<div class=" form-grids row form-grids-right">
    <div class="widget-shadow " data-example-id="basic-forms">
        <div class="form-title">
            <h4>{% trans 'new registration'|title %}</h4>
        </div>
        <div class="form-body">
            <form class="form-horizontal" action="{% url 'njangi:new_registration' %}" method="post">{% csrf_token %}
                <h4>{% trans 'personal information'|title %}</h4><br>
                <div>{{ form.sponsor }}</div>
                <div class="form-group fieldWrapper has-feedback">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors">{{ form.first_name.errors }}</span>
                    <label for="{{ form.first_name.id_for_label }}" class="col-sm-2 control-label">{{ form.first_name.label }}</label>
                    <div class="col-sm-8">
                        {{ form.first_name|addcss:'form-control' }}
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">{{ form.first_name.help_text }}</p>
                    </div>
                </div>
                <div class="form-group fieldWrapper has-feedback">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors">{{ form.last_name.errors }}</span>
                    <label for="{{ form.last_name.id_for_label }}" class="col-sm-2 control-label">{{ form.last_name.label }}</label>
                    <div class="col-sm-8">
                        {{ form.last_name|addcss:'form-control' }}
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">{{ form.last_name.help_text }}</p>
                    </div>
                </div>
                <div class="form-group fieldWrapper has-feedback">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors">{{ form.gender.errors }}</span>
                    <label for="{{ form.gender.id_for_label }}" class="col-sm-2 control-label">{{ form.gender.label }}</label>
                    <div class="col-sm-2">
                        {{ form.gender|addcss:'form-control' }}
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">{{ form.gender.help_text }}</p>
                    </div>
                </div>
                <div class="form-group fieldWrapper has-feedback">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors">{{ form.tel1.errors }}</span>
                    <label for="{{ form.tel1.id_for_label }}" class="col-sm-2 control-label">{{ form.tel1.label }}</label>
                    <div class="col-sm-8">
                        {{ form.tel1|addcss:'form-control' }}
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">{{ form.tel1.help_text }}</p>
                    </div>
                </div>
                <div class="form-group fieldWrapper has-feedback">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors">{{ form.tel2.errors }}</span>
                    <label for="{{ form.tel2.id_for_label }}" class="col-sm-2 control-label">{{ form.tel2.label }}</label>
                    <div class="col-sm-8">
                        {{ form.tel2|addcss:'form-control' }}
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">{{ form.tel2.help_text }}</p>
                    </div>
                </div>

                <div class="form-group fieldWrapper has-feedback">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors">{{ form.email.errors }}</span>
                    <label for="{{ form.email.id_for_label }}" class="col-sm-2 control-label">{{ form.email.label }}</label>
                    <div class="col-sm-8">
                        {{ form.email|addcss:'form-control' }}
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">{{ form.email.help_text }}</p>
                    </div>
                </div>

                 <p><br><h4>{% trans 'login information'|title %}</h4><br></p>

                <div class="form-group fieldWrapper has-feedback">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors">{{ form.username.errors }}</span>
                    <label for="{{ form.username.id_for_label }}" class="col-sm-2 control-label">{{ form.username.label }}</label>
                    <div class="col-sm-8">
                        {{ form.username|addcss:'form-control' }}
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">{{ form.username.help_text }}</p>
                    </div>
                </div>
                <div class="form-group fieldWrapper has-feedback">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors">{{ form.password.errors }}</span>
                    <label for="{{ form.password.id_for_label }}" class="col-sm-2 control-label">{{ form.password.label }}</label>
                    <div class="col-sm-8">
                        {{ form.password|addcss:'form-control' }}
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">{{ form.password.help_text }}</p>
                    </div>
                </div>
                <div class="form-group fieldWrapper has-feedback">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors">{{ form.confirm_password.errors }}</span>
                    <label for="{{ form.confirm_password.id_for_label }}" class="col-sm-2 control-label">{{ form.confirm_password.label }}</label>
                    <div class="col-sm-8">
                        {{ form.confirm_password|addcss:'form-control' }}
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">{{ form.confirm_password.help_text }}</p>
                    </div>
                </div>
                <div class="col-sm-offset-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}