#feedback_container {
  position: fixed;
  bottom: 10px;
  right: 20px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 200;
}

#feedback_container,
.feedback_form {
  width: 420px;
}

#feedback_form {
  /* overflow: auto; */
}

.feedback_form {
  border: none;
  /* display: none; */
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  position: relative;
  top: 25px;
  right: -10px;
  border-radius: 20px 20px 0px 20px;
  background: #4f52ba;
  padding: 10px 20px;
  outline: none;
  margin-right: 50px;
}

.feedback_form form {
  margin: 15px auto 10px auto;
}

.feedback_form h1 {
  color: #F2B33F;
  margin-bottom: 8px;
  font-size: 20px;
}

.feedback_form p {
  text-align: justify;
  font-size: 16px;
  color: #fff;
}

.feedback_form label {
  color: #fff;
}

.feedback_form label,
.feedback_form textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.feedback_form textarea {
  padding: 10px 7px;
  line-height: 1.5;
  border-radius: 5px;
  resize: none;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  height: 70px;
}

.feedback_form label {
  font-size: 14px;
  display: block;
  margin-bottom: 3px;
}

.feedback_form .form_input {
  margin-bottom: 20px;
}

.feedback_form button {
  cursor: pointer;
  border: none;
  padding: 8px 20px;
  color: rgba(0, 0, 0, 0.7);
  background: #F2B33F;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
}


#form_close {
  z-index: 100;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  justify-self: end;
  cursor: pointer;
}

#form_close img {
  width: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#feedback_container #close {
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 30px;
  color: rgba(0, 0, 0, 0.7);
  background: #F2B33F;
  padding: 20px;
  width: 20px;
  height: 20px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#feedback_container #close.hide {
  display: none !important;
}

#feedback_container #close.show {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

#feedback_container #form_close.show {
  display: flex !important;
  position: fixed !important;
  top: unset !important;
  bottom: 5px !important;
  right: 20px !important;
}

#feedback_container #form_close.hide {
  display: none !important;
}


/* media query */
@media(max-width:800px) {

  #feedback_container,
  .feedback_form {
    width: 360px;
  }

  .feedback_form h1 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .feedback_form p {
    font-size: 14px;
  }

  .feedback_form label,
  .feedback_form textarea {
    /* font-size: 0.5rem; */
  }

  .feedback_form textarea {
    padding: 5px 5px;
    line-height: 1.0;
    width: 100%;
    height: 70px;
    font-size: 14px;
  }

  .feedback_form label {
    font-size: 14px;
    margin-bottom: 2px;
  }

  .feedback_form .form_input {
    margin-bottom: 15px;
  }

  .feedback_form button {
    padding: 5px 10px;
  }

}

@media(max-width:450px) {

  /* clearing style from parent style.css file */
  div#page-wrapper {
    padding: 0 0 0 !important;
  }

  #feedback_container {
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: unset;
    left: unset;
    right: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feedback_form {
    margin: unset;
    top: unset;
    left: unset;
    right: unset;
    width: 100%;
    height: 100%;
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
  }

  .feedback_form h1 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .feedback_form p {
    font-size: 14px;
  }

  .feedback_form label,
  .feedback_form textarea {
    /* font-size: 0.5rem; */
  }

  .feedback_form textarea {
    padding: 5px 5px;
    line-height: 1.0;
    width: 100%;
    height: 70px;
    font-size: 14px;
  }

  .feedback_form .form_input:last-child textarea {
    height: 150px;
    border: 1px solid red;
  }

  .feedback_form label {
    font-size: 14px;
    margin-bottom: 2px;
  }

  .feedback_form .form_input {
    margin-bottom: 8px;
  }

  .feedback_form form {
    margin: 8px auto 5px auto;
  }

  .feedback_form button {
    padding: 5px 10px;
  }

  #form_close {
    display: none;
  }

  #form_close img {
    width: 50px;
  }

  #feedback_container #close {
    position: absolute;
    top: 4px;
    right: 20px;
  }

}