{% extends 'base_dashboard.html' %}
{% load static i18n humanize njangi_tags tz %}


{% block content %}
{% localtime on %}

<div class="row">
    <div class="tables">
        <div class="table-responsive bs-example widget-shadow">
            <div class="col-md-12">
                <div class="col-md-3">
                    <h5>
                        {% trans 'total accounts'|title %}: {{ total_accounts }}
                    </h5><br>
                </div>
                <div class="col-md-3">
                    <form action="{% url 'administration:user_list' %}" >
                        <input type="text" name="username" placeholder="Search by username" id="username">
                        <input type="submit" value="{% trans 'search'|title %}">
                    </form>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{% trans 'username' %}</th>
                        <th>{% trans 'first name'|title %}</th>
                        <th>{% trans 'last name'|title %}</th>
                        <th>{% trans 'email'|title %}</th>
                        <th>{% trans 'MTN Number'|title %}</th>
                        <th>{% trans 'Orange Number'|title %}</th>
                        <th>{% trans 'Gender'|title %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for obj in user_list %}
                    
                    <tr>
                        <td scope="row"><h6> <a href="{% url 'administration:transactions' user_id=obj.pk %}">{{ obj.username }}</a></h6></td>
                        <td><h6>{{ obj.first_name|title }}</h6></td>
                        <td><h6>{{ obj.last_name|title }}</h6></td>
                        <td><h6>{{ obj.email }}</h6></td>
                        <td><h6>{{ obj.tel1 }}</h6></td>
                        <td><h6>{{ obj.tel2 }}</h6></td>
                        <td><h6>{{ obj.gender }}</h6></td>
                        <!-- <td><h6><a href=""><i class="fa fa-trash-o nav_icon"></i> {% trans 'Remove'|title %}</a></h6></td> -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_paginated and user_account_list %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'administration:user_list' %}?page={{ page_obj.previous_page_number }}">{% trans 'previous'|title %}</a>
                    {% endif %}
                    <span class="page-current">
                        {% trans 'page'|title %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'administration:user_list' %}?page={{ page_obj.next_page_number }}">{% trans 'next'|title %}</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}

        </div>
    </div>
</div>


{% endlocaltime %}
{% endblock %}
