{% extends 'marketplace/base.html' %}

{% load static i18n humanize %}


{% block title %} Market Place {% endblock %}

{% block content %}

    <!-- ##### Welcome Area Start ##### -->
    <section class="welcome_area bg-img background-overlay" style="background-image: url({{ index_image.image.url }});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="hero-content">
                        <h2>{% trans 'njangi market'|title %}</h2>
                        <a href="{% url 'marketplace:signup' %}" class="btn essence-btn">{% trans 'signup now'|title %}</a><br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Welcome Area End ##### -->

    <!-- ##### Top Catagory Area Start ##### -->
    <div class="top_catagory_area section-padding-80 clearfix">
        <div class="container">
            <div class="row justify-content-center">
                {% for product_type in product_types %}
                <!-- Single Catagory -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                         style="background-image: url({{ product_type.image.url }});">
                        <div class="catagory-content">
                            <a href="{% url 'marketplace:product_list' %}">{{ product_type.name }}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- ##### Top Catagory Area End ##### -->
     <!-- ##### CTA Area Start ##### -->
    <div class="cta-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content bg-img background-overlay" style="background-image: url({{ trending_product.background_image.url }});">
                        <div class="h-100 d-flex align-items-center justify-content-end">
                            <div class="cta--text">
                                <!--<h6>-60%</h6>-->
                                <h2>{% trans 'trending'|title %}</h2>
                                <a href="{% url 'marketplace:product_details' trending_product.pk %}" class="btn essence-btn">{% trans 'view product'|title %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->

    <section class="new_arrivals_area section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Popular Products</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="popular-products-slides owl-carousel">

                        {% for product in popular_products %}
                        <!-- Single Product -->
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <a href="{% url 'marketplace:product_details' product.pk %}"><img src="{{ product.image.url }}" alt=""></a>
                                <!-- Hover Thumb -->
                                <a href="{% url 'marketplace:product_details' product.pk %}"><img class="hover-img" src="{{ product.image.url }}" alt=""></a>
                                <!-- Favourite -->
                                <div class="product-favourite">
                                    <a href="" class="favme fa fa-heart"></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <span>{{ product.product_type.name }}</span>
                                <a href="{% url 'marketplace:product_details' product.pk %}">
                                    <h6>{{ product.name }}</h6>
                                </a>
                                <p class="product-price">{{ product.price_rstrip|intcomma }} XAF</p>

                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <!-- Add to Cart -->
                                    <div class="add-to-cart-btn">
                                        <form method="POST" action="{% url 'marketplace:new_invoice' %}">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ product.pk }}" name="product_id">
                                            <button type="submit" value="submit" class="btn essence-btn">{% trans 'buy'|title %}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}