#cbp-spmenu-s1 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url("../images/x-mas-bg.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
}

/* Nav Logo */
body
  > div.main-content
  > div.sticky-header.header-section
  > div.header-left
  > div.logo {
  background: none !important;
}

body
  div.main-content
  div.sticky-header.header-section
  div.header-left
  div.logo
  h1,
body
  div.main-content
  div.sticky-header.header-section
  div.header-left
  div.logo
  span {
  color: black;
}

/* Summary */
div.stats-left {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../images/x-mas-bg.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
}

div.stats-right h5,
div.stats-right h6 {
  color: white !important;
}

/* Christmas Card */
.christmas-gift {
  max-height: fit-content !important;
  min-height: 150px !important;
  background: linear-gradient(
      to right,
      rgba(42, 42, 42, 0.6),
      rgba(39, 39, 39, 0.6)
    ),
    url("../images/gift.png") !important;
  background-size: contain !important;
  background-position: right !important;
  position: relative;
  margin-bottom: 50px;
}

.christmas-gift .x-mas-wrapper {
  width: 80%;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 2px 4px #000000;
  text-align: center;
  margin: 0 auto;
}

.christmas-gift h1 {
  font-family: "Anton", sans-serif !important;
  margin-bottom: 18px;
  border-bottom: 1px solid white;
}

.christmas-gift h3 {
  font-weight: bold;
}
