{% extends 'base_dashboard.html' %}

{% load static %}

{% block content %}

<div class="beneficiary_list">
    {% if remuneration.status != remuneration_status.paid or remuneration.status != remuneration_status.partially_paid %}

        {% for beneficiary in beneficiaries  %}
        <div>
            <p>{{ beneficiary.amount }}</p>
            <p>{{ beneficiary.status }}</p>
            <p>{{ beneficiary.remuneration.purpose }}</p>
        </div> <br>
        {% endfor %}

        <!-- transfering funds confirmation -->
        <a href="{% url 'administration:remuneration_funds_transfer_confirmation' remuneration_id=remuneration.id %}">Transfer Funds</a>

    {% endif %}
</div>

{% endblock %}