{% extends "base_website.html" %}
{% load static i18n humanize njangi_tags main_tags %}

{% block content %}

    <!--  Content -->
    <div id="signup" class="bg-white">
        <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto py-5">
            <h2 class="text-left mb-4">{% trans 'Password Reset'|title %} 🦄</h2>
            <p class="text-left">{% trans 'Please enter your email address below and submit, we will send you a reset link.' %}</p>
        </div>
        <div class="example col-lg-8 col-md-10 ml-auto mr-auto">
            <div class="row mb-5">
                <div class="col-md-12">
                    <form  action="{% url 'main:password_reset' %}" method="post">{% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6" align="left">
                                <label for="{{ form.email.id_for_label }}" class="col-form-label">{{ form.email.label }}</label>
                                {{ form.email.help_text }}
                                {{ form.email|addcss:'form-control' }}
                                <span class="help-block with-errors">{{ form.email.errors }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <input class="btn btn-primary btn-pill d-flex ml-auto mr-auto" type="submit" value="{% trans 'submit'|title %}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- End Content -->
{% endblock %}
