{% extends "base_website.html" %}
{% load static i18n humanize njangi_tags main_tags %}

{% block content %}

    <!--  Content -->
    <div id="signup" class="bg-white">
        <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto py-5">
            <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
            <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
        </div>

    </div> <!-- End Content -->
{% endblock %}
