{% extends 'base_dashboard.html' %}
{% load static i18n humanize njangi_tags main_tags %}

{% block content %}

<div class=" form-grids row form-grids-right">
    <div class="widget-shadow " data-example-id="basic-forms">
        <div class="form-title">
            <h4>{% trans 'password change'|title %}</h4>
        </div>
        <div class="form-body">
            <form class="form-horizontal" action="{% url 'main:password_change' %}" method="post">{% csrf_token %}
                <div>
                    {% if form.errors %}
                        <p class="errornote">
                        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                        </p>
                    {% endif %}
                </div>
                <div class="form-group fieldWrapper has-feedback">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors">{{ form.old_password.errors|safe }}</span>
                    <label for="{{ form.old_password.id_for_label }}" class="col-sm-2 control-label">{{ form.old_password.label }}</label>
                    <div class="col-sm-8">
                        {{ form.old_password|addcss:'form-control' }}
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">{{ form.old_password.help_text|safe }}</p>
                    </div>
                </div>
                <div class="form-group fieldWrapper has-feedback">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors">{{ form.new_password1.errors|safe }}</span>
                    <label for="{{ form.new_password1.id_for_label }}" class="col-sm-2 control-label">{{ form.new_password1.label }}</label>
                    <div class="col-sm-8">
                        {{ form.new_password1|addcss:'form-control' }}
                    </div>
                </div>
                <div class="form-group fieldWrapper has-feedback">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <p class="help-block">{{ form.new_password1.help_text|safe }}</p>
                    </div>
                </div>
                <div class="form-group fieldWrapper has-feedback">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span class="help-block with-errors">{{ form.new_password2.errors|safe }}</span>
                    <label for="{{ form.last_name.id_for_label }}" class="col-sm-2 control-label">{{ form.new_password2.label }}</label>
                    <div class="col-sm-8">
                        {{ form.new_password2|addcss:'form-control' }}
                    </div>
                    <div class="col-sm-2">
                        <p class="help-block">{{ form.new_password2.help_text|safe }}</p>
                    </div>
                </div>

                <div class="col-sm-offset-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}