{% extends "base_website.html" %}
{% load static i18n humanize njangi_tags main_tags %}

{% block content %}
    <!--  Content -->
    <!-- Navigation bar -->
    <div id="navigation-bar">
        <div class="example">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
                <img src="{% static 'website/images/demo/shards-logo.svg' %}" alt="{% trans 'njangi network'|capfirst %}" class="mr-2" height="30px">
                <a class="navbar-brand" href="{% url 'main:index' %}">Njangi</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1"
                        aria-controls="navbarNavDropdown-1"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown-1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'main:index' %}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                    </ul>
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav">
                            <a href="{% url 'njangi:dashboard' %}" class="btn btn-primary">{% trans "dashboard"|title %}</a>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav">
                            <a href="{% url 'main:login' %}" class="btn btn-primary">{% trans "login"|title %}</a>
                        </ul>
                    {% endif %}
                    <ul class="navbar-nav">

                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}

                        {% for language in languages %}
                          <form action="{% url 'set_language' %}" method="post" id="form_{{ language.code }}" style="display:inline!important;">
                          {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <input name="language" type="hidden" value="{{ language.code }}" />
                          </form>
                          <button class="btn btn-primary" type="submit" form="form_{{ language.code }}" value="Submit">{{ language.code|upper }}</button>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </div> <!-- End Navigation bar -->

    <!--  Content -->
    <div id="signup" class="bg-white">
        <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto py-5">
          <p>{% trans "Your password has been set. You may go ahead and" %} <a href="{% url 'main:login' %}">{% trans "sign in"%} </a>{% trans "now" %}.</p>
        </div>

    </div> <!-- End Content -->
{% endblock %}