{% extends "base_website.html" %}
{% load static i18n humanize njangi_tags main_tags %}

{% block content %}
    <!--  Content -->
    <!--  Content -->
    <div id="signup" class="bg-white">
        <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto py-5">
            <h2 class="text-left mb-4">{% trans 'Password Reset'|title %}</h2>
        </div>
      {% if validlink %}
        <div class="example col-lg-8 col-md-10 ml-auto mr-auto">
            <div class="row mb-5">
                <div class="col-md-12">
                    <form  method="post">{% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6" align="left">
                                <label for="{{ form.new_password1.id_for_label }}" class="col-form-label">{{ form.new_password1.label }}</label>
                                {{ form.new_password1|addcss:'form-control' }}<br>
                                {{ form.new_password1.help_text |safe }}
                                <span class="help-block with-errors">{{ form.new_password1.errors|safe }}</span>
                            </div>
                          <div class="form-group col-md-6" align="left">
                                <label for="{{ form.new_password2.id_for_label }}" class="col-form-label">{{ form.new_password2.label }}</label>
                                {{ form.new_password2|addcss:'form-control' }}<br>
                                {{ form.new_password2.help_text|safe }}
                                <span class="help-block with-errors">{{ form.new_password2.errors|safe }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <input class="btn btn-primary btn-pill d-flex ml-auto mr-auto" type="submit" value="{% trans 'submit'|title %}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      {% else %}
        <div class="example col-lg-8 col-md-10 ml-auto mr-auto">
          <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
        </div>
      {% endif %}
    </div> <!-- End Content -->
{% endblock %}
