{% extends "base_website.html" %}
{% load static i18n humanize njangi_tags main_tags %}

{% block content %}

    <!--  Content -->
    <div id="signup" class="bg-white">
        <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto py-5">
            <h2 class="text-left mb-4">{% trans 'Phone Password Reset'|title %}</h2>
            <span class="text-left">{% trans 'Please enter your username and phone number below then submit, we will send you a reset code.' %}</span>
        </div>
        <div class="example col-lg-8 col-md-10 ml-auto mr-auto">
            <div class="row mb-5">
                <div class="col-md-12">
                    <form  action="{% url 'main:phone_password_reset' %}" method="post">{% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6" align="left">
                                <label for="{{ form.username.id_for_label }}" class="col-form-label">{{ form.username.label|title }}</label>
                                {{ form.username.help_text }}
                                {{ form.username|addcss:'form-control' }}
                                <span style="color:red" >{{ form.username.errors }}</span>
                                <label for="{{ form.phone_number.id_for_label }}" class="col-form-label">{{ form.phone_number.label|title }}</label>
                                {{ form.phone_number.help_text }}
                                {{ form.phone_number|addcss:'form-control' }}
                                <span style="color:red">{{ form.phone_number.errors }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <input class="btn btn-primary btn-pill d-flex ml-auto mr-auto" type="submit" value="{% trans 'submit'|title %}">
                            </div>
                            <div class="form-group col-md-6">
                                <span>{% trans 'or'|title %} <a href="{% url 'main:password_reset' %}">{% trans 'Reset with email' %}</a></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- End Content -->
{% endblock %}
