{% extends "base_website.html" %}
{% load static i18n humanize njangi_tags main_tags %}

{% block content %}
<!--  Content -->
<div id="signup" class="bg-white">
    <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto py-5">
        <h3 class="text-left mb-4">{% trans 'Contact Us'|title %} 🦄</h3>
    </div>
    <div class="example col-lg-8 col-md-10 ml-auto mr-auto">
        <div class="row mb-5">
            <div class="col-md-12">
                <form  action="{% url 'main:contact' %}" method="post">{% csrf_token %}
                    <div class="row" >
                        <div class="form-group col-md-8">
                             {% if messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <ul class="messages">
                                        {% for message in messages %}
                                        <li class="fa fa-check"> {{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="{{ form.contact_name.id_for_label }}" class="col-form-label">{{ form.contact_name.label|title }}</label>
                            {{ form.contact_name.help_text }}
                            {{ form.contact_name|addcss:'form-control' }}
                            <span class="help-block with-errors">{{ form.contact_name.errors }}</span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="{{ form.contact_email.id_for_label }}" class="col-form-label">{{ form.contact_email.label|title }}</label>
                            {{ form.contact_email.help_text }}
                            {{ form.contact_email|addcss:'form-control' }}
                            <span class="help-block with-errors">{{ form.contact_email.errors }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="{{ form.message.id_for_label }}" class="col-form-label">{{ form.message.label|title }}</label>
                            {{ form.message.help_text }}
                            {{ form.message|addcss:'form-control' }}
                            <span class="help-block with-errors">{{ form.message.errors }}</span>
                        </div>
                    </div>
                    <div class="form-group col-12 ">
                        <label for="{{ form.captcha.id_for_label }}" class="col-form-label">{{ form.captcha.label }}</label>
                            {{ form.captcha.help_text }}
                            {{ form.captcha|addcss:'form-control' }}
                            <span class="help-block with-errors">{{ form.captcha.errors }}</span>
                        </div>
                    <div class="row">
                        <div class="form-group col-md-2" >
                            <input class="btn btn-primary btn-pill d-flex ml-auto mr-auto" type="submit" value="{% trans 'submit'|title %}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> <!-- End Content -->
{% endblock %}