{% extends "base_website.html" %}
{% load static i18n humanize njangi_tags main_tags %}

{% block content %}

<div id="signup" class="bg-white">
    <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto py-5">
        <h2 class="text-center mb-4">{% trans 'signup'|title %} 🦄</h2>
        <p class="text-center">
            {% trans "Welcome to" %} {{ promoter.username }}{% trans "'s network" %}<br>
            {% trans 'Signup and enjoy the awesomeness of the Njangi Network. Fast, Reliable, Trusted ...' %}
        </p>
    </div>
    <div class="example col-lg-8 col-md-10 ml-auto mr-auto">
        <div class="row mb-5">
            <div class="col-md-12">
                <form  action="{% url 'main:signup' %}" method="post">{% csrf_token %}
                    {% if form.errors %}
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="alert alert-danger" role="alert">
                                <h5>{% trans "Please fix the following errors" %}</h5>
                                <ul>
                                    {% for field in form %}
                                      {% if field.errors %}
                                        {% for error in field.errors %}
                                          <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                                        {% endfor %}
                                      {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="{{ form.first_name.id_for_label }}" class="col-form-label">{{ form.first_name.label }}</label>
                            {{ form.first_name.help_text }}
                            {{ form.first_name|addcss:'form-control' }}
                            <span class="help-block with-errors">{{ form.first_name.errors }}</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.last_name.id_for_label }}" class="col-form-label">{{ form.last_name.label }}</label>
                            {{ form.last_name.help_text }}
                            {{ form.last_name|addcss:'form-control' }}
                            <span class="help-block with-errors">{{ form.last_name.errors }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label for="{{ form.gender.id_for_label }}" class="col-form-label">{{ form.gender.label }}</label>
                            {{ form.gender.help_text }}
                            {{ form.gender|addcss:'form-control' }}
                            <span class="help-block with-errors">{{ form.gender.errors }}</span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="{{ form.email.id_for_label }}" class="col-form-label">{{ form.email.label }}</label>
                            {{ form.email.help_text }}
                            {{ form.email|addcss:'form-control' }}
                            <span class="help-block with-errors">{{ form.email.errors }}</span>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="{{ form.tel1.id_for_label }}" class="col-form-label">{{ form.tel1.label }}</label>
                            {{ form.tel1.help_text }}
                            {{ form.tel1|addcss:'form-control' }}
                            <span class="help-block with-errors">{{ form.tel1.errors }}</span>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="{{ form.tel2.id_for_label }}" class="col-form-label">{{ form.tel2.label }}</label>
                            {{ form.tel2.help_text }}
                            {{ form.tel2|addcss:'form-control' }}
                            <span class="help-block with-errors">{{ form.tel2.errors }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="{{ form.username.id_for_label }}" class="col-form-label">{{ form.username.label }}</label>
                            {{ form.username.help_text }}
                            {{ form.username|addcss:'form-control' }}
                            <span class="help-block with-errors">{{ form.username.errors }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="{{ form.password.id_for_label }}" class="col-form-label">{{ form.password.label }}</label>
                             ({{ form.password.help_text }})
                            {{ form.password|addcss:'form-control' }}
                            <span class="help-block with-errors">{{ form.password.errors }}</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.confirm_password.id_for_label }}" class="col-form-label">{{ form.confirm_password.label }}</label>
                             ({{ form.confirm_password.help_text }})
                            {{ form.confirm_password|addcss:'form-control' }}
                            <span class="help-block with-errors">{{ form.confirm_password.errors }}</span>
                        </div>
                    </div>

                    <div>{{ form.sponsor }}</div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <input class="btn btn-primary btn-pill d-flex ml-auto mr-auto" type="submit" value="{% trans 'submit'|title %}">
                        </div>
                        <div class="form-group col-md-4">
                            {% trans "already have an account?"|title %}<a href="{% url 'main:login' %}"> {% trans "login"|title %}</a>
                        </div>
                        <div class="form-group col-md-4">
                            {% trans "forgotten your password?"|title %}<a href="{% url 'main:password_reset' %}"> {% trans "reset"|title %}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> <!-- End Content -->
{% endblock %}